@model IEnumerable<Projeto.Models.Catalog>

@{
    ViewData["Title"] = "Index";
}

<h1>Index - Catálogo</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Authorname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Noofcopies)
            </th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Authorname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Noofcopies)
            </td>
            <td class="btn-group" role="group" aria-label="Basic outlined example">
                <a asp-action="Edit" asp-route-id="@item.CatalogId" class="btn btn-outline-primary">Edit</a>
                <a asp-action="Details" asp-route-id="@item.CatalogId" class="btn btn-outline-info">Details</a>
                <a asp-action="Delete" asp-route-id="@item.CatalogId" class="btn btn-outline-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
