@model IEnumerable<Projeto.Models.Alert>

@{
    ViewData["Title"] = "Index";
}

<h1>Index - Alerta</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Issuedate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bookname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Returndate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fine)
            </th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Issuedate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bookname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Returndate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fine)
            </td>
            <td class="btn-group" role="group" aria-label="Basic outlined example">
                <a asp-action="Edit" asp-route-id="@item.AlertId" class="btn btn-outline-primary">Edit</a>
                <a asp-action="Details" asp-route-id="@item.AlertId" class="btn btn-outline-info">Details</a>
                <a asp-action="Delete" asp-route-id="@item.AlertId" class="btn btn-outline-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
